<div id="<%= dom_id position %>">
  <p>
    <strong>Name:</strong>
    <%= position.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= position.description %>
  </p>

  <p>
    <strong>Possible submissions:</strong>
    <%= position.possible_submissions %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= position.video_url %>
  </p>

</div>
