<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">BJJ Co-Pilot</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Submissions', submissions_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to 'Positions', positions_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to 'Escapes', escapes_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <% if user_signed_in? %>
        <li class="nav-item" style="margin-right: 10px;">
          <span class="nav-link"><%= link_to 'My Bag', 'my_bag', class: "text-white" %></span>
        </li>
        <li class="nav-item" style="margin-right: 10px;">
          <span class="nav-link"><%= link_to 'My Bucket', 'my_bucket', class: "text-white" %></span>
        </li>
        <div class='text-white pt-2'> Welcome <%= current_user.email %> </div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </ul>
  </div>
</nav>

<style>
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  text-decoration: none;
}
</style>
