<div id="<%= dom_id submission %>">
  <p>
    <strong>Name:</strong>
    <%= submission.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= submission.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= submission.category %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= submission.difficulty %>
  </p>

  <p>
    <strong>From position:</strong>
    <%= submission.from_position %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= submission.video_url %>
  </p>

</div>
