<p style="color: green"><%= notice %></p>

<div class="text-center">
<h1 class="text-white"><%= @submission.name %></h1>
<p class="text-white"> Category: <%= @submission.category%></p>
<iframe src="https://www.youtube.com/embed/<%=@submission.video_url %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>" frameborder="0" allowfullscreen></iframe>
</div>

<div class='container'>
 <div class="row">
  <div class="col"> </div>
  <div class="col"> </div>
  <div class="col"> </div>
  <div class="col"> </div>
  <div class="col d-flex justify-content-center">
    <%= button_to "Add to Bag", add_submission_to_bag_path(@submission), method: :post, class: "btn btn-primary" %>
  </div>
  <div class="col d-flex justify-content-center">
    <%= button_to "Add to Bucket", add_submission_to_bucket_path(@submission), method: :post, class: "btn btn-primary" %>
  </div>
  <div class="col d-flex justify-content-center">
    <%= link_to "Back to submissions", submissions_path, class: "btn btn-secondary" %>
  </div>
  <div class="col"> </div>
  <div class="col"> </div>
  <div class="col"> </div>
  <div class="col"> </div>
</div>

</div>

<style>
iframe {
  padding-bottom: 20px;
  width: 80%;
  height: 400px;
}

</style>

