<p style="color: green"><%= notice %></p>

<%= render @submission %>

<div class='text-center'>
  <%= button_to "Add to Bag", add_submission_to_bag_path(@submission), method: :post, class: "btn btn-primary" %>
  <%= button_to "Add to Bucket", add_submission_to_bucket_path(@submission), method: :post, class: "btn btn-primary" %>
  <%= link_to "Back to submissions", submissions_path, class: "btn btn-secondary" %>

  
</div>
